body {
	text-align: center;
}

a {
	text-decoration: none;
}

a.reload {
	font-size: xx-large;
}

.logo {
  margin: 0 auto;
  display: block;
  text-indent: -9999px;
  width: 166px;
  height: 85px;
  background: url('<%= static_path("logo.svg") %>');
  background-size: 166px 85px;
}
